@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  z-index: 999; /* Make sure the button is on top of other elements */
}

/* Ensure that overflow-x is enabled for the table container */
.overflow-x-auto {
  overflow-x: auto;
}

/* Custom styles for table and container to ensure responsiveness */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  min-width: 100%;
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #171A22;
  border-radius: 6px;
  border: 3px solid #181A20;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #171A22;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #0F1015;
  border-radius: 6px;
}

/* Ensures the scrollbar is visible on other browsers */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #171A22 #0F1015;
}